<?xml version="1.0" encoding="UTF-8"?>
<SageTVPlugin>
  <Name>OpenSageTV Vibe FFmpeg Plugin UI</Name>
  <Identifier>SageTVFFmpegPluginSTVILinux</Identifier>
  <Author>OpenSageTV Vibe</Author>
  <CreationDate>2026.09.20</CreationDate>
  <ModificationDate>@DATE@</ModificationDate>
  <Version beta="true">@PLUGIN_VERSION@</Version>
  <OS>Linux</OS>
  <Desktop>false</Desktop>
  <Description>STVi configuration and monitoring UI for OpenSageTV Vibe FFmpeg Plugin.</Description>
  <PluginType>STVI</PluginType>
  <STVImport>SageTVFFmpegPlugin.stvi</STVImport>
  <Package><PackageType>STVI</PackageType><Location>https://github.com/opensagetv-vibe/opensagetv-vibe-SageTVFFmpegPlugin/releases/download/v@PLUGIN_VERSION@/SageTVFFmpegPlugin-STVI-@PLUGIN_VERSION@.zip</Location><MD5>@STVI_MD5@</MD5></Package>
  <Dependency><Plugin>SageTVFFmpegPluginLinux</Plugin><MinVersion>@PLUGIN_VERSION@</MinVersion></Dependency>
  <Dependency><STV>SageTV7</STV><MinVersion>7.0</MinVersion></Dependency>
  <Webpage>https://github.com/opensagetv-vibe/opensagetv-vibe-SageTVFFmpegPlugin</Webpage>
</SageTVPlugin>
